<div class="flex space-x-3">
    <!-- Facebook -->
    <a [href]="getShareLink('facebook')" target="_blank" class="share-button bg-blue-600 hover:bg-blue-700">
      <fa-icon [icon]="faFacebook"></fa-icon>
    </a>
  
    <!-- Twitter -->
    <a [href]="getShareLink('twitter')" target="_blank" class="share-button bg-sky-500 hover:bg-sky-600">
      <fa-icon [icon]="faTwitter"></fa-icon>
    </a>
  
    <!-- LinkedIn -->
    <a [href]="getShareLink('linkedin')" target="_blank" class="share-button bg-blue-800 hover:bg-blue-900">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </a>
  
    <!-- WhatsApp -->
    <a [href]="getShareLink('whatsapp')" target="_blank" class="share-button bg-green-500 hover:bg-green-600">
      <fa-icon [icon]="faWhatsapp"></fa-icon>
    </a>
  </div>
  